@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

body {
    background-color: #d3d1d1;
}



/* MAIN */


h1 {
    font-size: 60px;
    font-family: "Rubik 80s Fade", serif;
    text-align: center;
    color: black;
    margin-bottom: 0px;
    
    
    
    
}

h4 {
    font-size: 20px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    text-align: center;
    padding-top: 0px;
    color: black;
    border-bottom: 5px solid rgba(124, 97, 28, 0.605);
}

.info {
    align-items: center;
    margin-left: 200px;
    /* margin-right: ; */
    border-left: 2px solid black;
    padding-left: 10px;
    
}

.fact1 {
    margin-right: 700px;
    position: relative;
    bottom: 56px;
    
}